[project]
[access "refs/heads/*"]
	owner = group Administrators
	create = group sbrissen & friends
	push = +force group sbrissen & friends
	label-Code-Review = -2..+2 group sbrissen & friends
	label-Verified = -1..+1 group sbrissen & friends
	submit = group sbrissen & friends
[submit]
	action = rebase if necessary
