allow init wpa_socket:unix_dgram_socket { bind create };
#allow init su_exec:file { execute_no_trans };
allow init init:process { execmem };
allow init init:capability { sys_module };
allow init radio_efs_file:filesystem { relabelto };
allow init app_data_file:dir { read open setattr getattr relabelfrom };
allow init property_socket:sock_file { write };

allow init kernel:system syslog_read;
allow init init:packet_socket { create bind write read };
allow init init:rawip_socket { create setopt write };
allow init tmpfs:lnk_file { create };
allow init sysfs:lnk_file { setattr };


#allow init_shell init:packet_socket { read write };
allow init log_device:chr_file { write };
allow init kernel:system { module_request };
#allow init system_file:file execute_no_trans;
allow init block_device:lnk_file { setattr };
domain_trans(init, rootfs, SMD-daemon)

allow init shell_data_file:lnk_file { getattr };
allow init { domain -lmkd }:process noatsecure;

### uncomment to enable strace for rild
#allow init shell_data_file:dir { write open read getattr add_name create };
#allow init shell_data_file:file { write open read getattr create };
#allow init system_file:file { execute_no_trans };
#allow init init:process { ptrace };
#allow init rild:process { ptrace };
#allow rild shell_data_file:file  { read write };

