allow bluetooth smd_device:chr_file { read write ioctl open };

allow bluetooth log_device:dir { search };
allow bluetooth log_device:chr_file { write open };

allow bluetooth sysfs:file { write };
allow bluetooth wifi_data_file:file { read open };
