type mali_device, dev_type, mlstrustedobject;
type mfc_device, dev_type;
type rfkill_device, dev_type;
type wlan_device, dev_type;
type modem_block_device, dev_type;
type diagnostic_device, dev_type;
type efs_block_device, dev_type;
type mmc_block_device, dev_type;

#SSR device
type ssr_device, dev_type;

#device type for smd device nodes, ie /dev/smd*
type smd_device, dev_type;

#Define the hsic device
type hsic_device, dev_type;

#Define the mhi device
type mhi_device, dev_type;

#Define the logging device type
type diag_device, dev_type;
type smem_log_device, dev_type;

#Define rct device type for time daemon
type rtc_device, dev_type;
