## /dev/mali, /dev/ump
allow domain mali_device:chr_file rw_file_perms;

userdebug_or_eng(`
			  allow domain diag_device:chr_file rw_file_perms;
') 

