allow domain at_distributor:chr_file rw_file_perms;
allow domain diag_uart_log:chr_file rw_file_perms;
allow domain SMD-daemon:chr_file rw_file_perms;
allow domain qmiproxy:chr_file rw_file_perms;

userdebug_or_eng(`
			  allow domain diag_device:chr_file rw_file_perms;
') 
dontaudit domain kernel:system module_request;
