type radio_efs_file, fs_type, contextmount_type;

type firmware_mfc, file_type;
type firmware_camera, file_type;

type qmuxd_socket, file_type;
type kickstart_data_file, file_type, data_file_type;
type sensors_data_file, file_type, data_file_type;
type volume_data_file, file_type, data_file_type;

#File types required by mdm-helper
type sysfs_esoc, sysfs_type, fs_type;
type sysfs_ssr,  sysfs_type, fs_type;
type sysfs_ssr_toggle,  sysfs_type, file_type;
type sysfs_hsic, sysfs_type, fs_type;
type sysfs_hsic_host_rdy, sysfs_type, file_type;

#Define the timeout for platform specific transports
type sysfs_hsic_modem_wait, sysfs_type, fs_type;
type sysfs_smd_open_timeout, sysfs_type, fs_type;

# Persist file types
type persist_file, file_type;
type persist_data_file, file_type;
type persist_drm_file, file_type;
type data_drm_file, file_type;

