allow init wpa_socket:unix_dgram_socket { bind create };
allow init su_exec:file { execute_no_trans };
allow init init:process { execmem };
allow init init:capability { sys_module };
allow init radio_efs_file:filesystem { relabelto };
allow init app_data_file:dir { read open setattr getattr relabelfrom };

allow init_shell kernel:system { syslog_mod };


