type SMD-daemon, domain;
permissive SMD-daemon;
type SMD-daemon_exec, exec_type, file_type;
init_daemon_domain(SMD-daemon)

allow SMD-daemon system_file:file { execute_no_trans };
allow SMD-daemon self:capability { setuid };
