allow system_server device:chr_file { ioctl };
allow system_server dex2oat_exec:file { execute execute_no_trans read open };
allow system_server self:capability sys_module;
