# Talk to qmuxd
qmux_socket(system_server)

allow system_server diagnostic_device:chr_file rw_file_perms;
allow system_server sensors_device:chr_file { read open };
allow system_server sensors_data_file:file r_file_perms;
allow system_server wpa_socket:unix_dgram_socket sendto;
allow system_app volume_data_file:file { read write open getattr };

allow system_server sysfs:file { read open write };
allow system_server self:capability { sys_module };