# Drivers read firmware files /firmware/image
allow ueventd { radio_efs_file }:file r_file_perms;
allow ueventd { radio_efs_file }:dir search;
## More Firmwares
allow ueventd { firmware_mfc }:file r_file_perms;
allow ueventd { firmware_camera }:dir search;
allow ueventd firmware_camera:file { read open getattr };