allow vold boot_block_device:blk_file { read write open ioctl getattr };
allow vold efs_file:dir { ioctl open read };
allow vold log_device:chr_file { open write };
